ESP_main_lab/build/
ESP_main_lab/sdkconfig
ESP_main_lab/sdkconfig.old
ESP_main_lab/.vscode/
ESP_main_lab/.cache/
ESP_main_lab/capture*
ESP_main_lab/pcap/
ESP_main_lab/compile_commands.json
ESP_main_lab/eim_config.toml
Prosim/sim
# macOS
.DS_Store

# Compiled files
*.o
*.out
ESP_main_lab/main/exp3_host
